<div class="container mt-4">

  <div class="quizz_logo">
    <img src="assets/imgs/logo.png" alt="logo">
    <h3>{{ title }}</h3>
  </div>

  <div *ngIf="!finished" class="quizz_questions">
    <h3>{{ questionSelected.question }}</h3>
  </div>

  <div *ngIf="!finished" class="quizz_options">
    <!-- <button *ngFor="let option of questionSelected.options" class="btn-option" (click)="playerChoose(option.alias)">{{ option.name }}</button> -->
    <div class="container overflow-hidden text-center">
      <div class="row">
        <div class="col-6" *ngFor="let option of questionSelected.options">
         <div class="p-3"><button class="btn-option w-100" (click)="playerChoose(option.alias)">{{ option.name }}</button></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="finished" class="quizz_results">
    <h1>O seu resultado é:</h1>
    <p>{{ answerSelected }}</p>
    <div class="btn btn-success" (click)="resetQuizz()">Reiniciar Quizz</div>
  </div>
</div>
