/* Reset das margens e preenchimentos em todos os elementos */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: antiquewhite;
}

/* Reset do tamanho padrão da fonte */
body {
  background-color: #1f1147 !important;
}
